<h2>Coupon Form</h2>
<%= form_tag( '/coupons' ) %>
<%= label_tag( 'coupon_code', 'Coupon Code' ) %>
<%= text_field_tag( 'coupon_code' ) %>
<%= label_tag( 'store' ) %>
<%= text_field_tag( 'store' ) %>
<%= submit_tag( 'Submit Coupon' ) %>
